
<!-- <div class="slider-left"> -->
        <!-- 导航栏 -->
    <!-- <ul class="layui-nav layui-nav-tree" lay-filter="test"> -->
        <!-- <div data-bind="text:sliderBar"></div> -->
    <!-- 侧边导航: -->
    <ul class="layui-nav layui-nav-tree layui-nav-side">
        <li class="layui-nav-item layui-nav-itemed">
            <span style="cursor:pointer;display: block;width: 100%;">用户管理</span>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" data-url="demo1" >demo1</a></dd>
                <dd><a href="javascript:;" data-url="demo2">demo2</a></dd>
            </dl>
        </li>
        <!-- <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">移动模块</a></dd>
                <dd><a href="javascript:;">后台模版</a></dd>
                <dd><a href="javascript:;">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="javascript:;">产品</a></li>
        <li class="layui-nav-item"><a href="javascript:;">大数据</a></li> -->
    </ul>
<!-- </div> -->



<script src="/resources/components/slider-left/slider-left.js"></script>