<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../js/knockout-3.1.0.debug.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../../static/js/utils.js" charset="UTF-8"></script>
    <title>ko-自动计算之-格式化</title>
    <style type="text/css">
    .user-info {
        padding: 5px 20px;
    }
    </style>
</head>
<body>
    <div>笔记本电脑：<input type="text" data-bind="value:name"></div>
    <div>请输入价格：<input type="text" data-bind="value:price"></div>

    <div>电脑信息：<input type="text" data-bind="value:goodInfo"></div>

</body>
<script type="text/javascript">
function Compute() {
    var self = this; // 将this存入self是安全的做法
    this.name = ko.observable('Dell 笔记本');
    this.price = ko.observable(6500);
    this.goodInfo = ko.computed({
        read: function () { 
            return this.name() + '-' + this.price(); // 实测这样写的this是指向的new Compute()对象
        }, 
        write: function (value) { // 写属性执行的节点是，a、当修改了表单内的值后，b、表单失去焦点时，ab均满足就会执行写属性回掉
            console.log(value);

            var splitPos = value.indexOf('-');
            if (splitPos > 0) { // 下面的修改是可直接修改并渲染到页面上的
                this.name(value.substring(0, splitPos)) // 计算属性的括号里面是可以对属性值就行设置的
                var floatNumber = value.substring(splitPos+1, value.length);
                this.price(utils.kilobit(floatNumber));// 格式化价格为逗号分隔
            }
        },
        owner: self
    })
}
ko.applyBindings(new Compute());
</script>
</html>