<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../js/knockout-3.1.0.debug.js" charset="UTF-8"></script>
    <title>ko-simple-bindings</title>
</head>
<body>
    <p>user name : <input type="text" data-bind="value: name"></p>
    <p>user age : <input type="text" data-bind="value: age"></p>
    <p>user Do : <input type="text" data-bind="value: doSomeThing"></p>

</body>
<script type="text/javascript">
var user = { // 把对象写在外面的做法
    name: 'Lucy',
    age: 25,
    doSomeThing: 'do something'
}
ko.applyBindings(user);
</script>
</html>